<!DOCTYPE html>
<html lang="en" data-theme="auto">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>YesOnIt! Content Development</title>
    <meta name="description" content="YesOnIt - Tool Content Development">
    <meta name="keywords" content="YesOnIt, YesOnIt, YesOnIt, YesOnIt, Tool Content Development, Tool Access Management">
    <meta name="author" content="JosephSabana">
    <meta property="og:image" content="img/cover.png">
    <meta property="og:title" content="YesOnIt">
    <meta property="og:description" content="YesOnIt - Tool Content Development">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined">
    <link href="/css/new-styles.css" rel="stylesheet">
    <link href="/css/theme.css" rel="stylesheet">
  </head>
  <body>
    <div class="main-con">
     <%- include('../partials/header') %>
<div style="height: 150vh!important;">
 <section class="section container" style="">
  <!--Content-->
      <div class="container-form">
            <h3 class="subsection-heading"> Content Development</strong></h3>
            <h1 class="heading">Add User </h1>
            <div class="spacer-20"></div>

       
            <% if (typeof success !== 'undefined' && success) { %>
               <p style="color: green; text-align: center;"><%= success %></p>
             <% } %>
             
             <% if (typeof error !== 'undefined' && error) { %>
               <p style="color: red; text-align: center;"><%= error %></p>
             <% } %>

			
		
	 	             <form action="/register" method="POST"  class="contentRequestForm">
                     <div class="div-content-group "> 
                        <label for="name">Full Name</label>
                        <input required autocomplete="off" type="text" name="name" id="name">
                   
                     </div>


                     <div class="div-content-group ">
                        <label>Select Department</label>
						<select name="department" required>
            <% departments.forEach(function(dept) { %>
                <option class="select-option" value="<%= dept._id %>"><%= dept.name %></option>
            <% }) %>
        </select>
						
						
                       
                     </div>	 
						 
                     <div class="div-content-group ">
                        <label for="email">Email Address</label>
                        <input required autocomplete="off" type="email" name="email" id="email">
                        
                     </div>

                     <div class="div-content-group ">
                        <label >Access Level:</label>
                     <select name="accessLevel" required>
                         <option value="Level 1" selected>Level 1</option>
                         <option value="Level 2">Level 2</option>
                         <option value="Level 3">Level 3</option>
                         <option value="Level 4">Level 4</option>
                         <option value="Level 5">Level 5</option>
                     </select>
                    
                     <br>
                     </div>

                     <div class="div-content-group ">
                        <label>Temporary Password</label>	 
                        <input required autocomplete="off" id="password" name="password" type="password">
                        
                     </div>
                     <div class="div-content-group ">
                        <label>Confirm Temporary Password</label>	  
                        <input required autocomplete="off" id="confirmPassword" name="confirmPassword" type="password">
                      
                     </div>
                     <div class="div-content-group scdiv"  >
                        <button class="btn cancel" onclick="location.href='/content-manager'"><i class="material-icons-outlined">arrow_back_ios</i> Go Back</button>
                        <button type="submit" class="btn submit"><i class="material-icons-outlined">save</i> Save </button>
                
                      </div>
                  </form>		
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			

			</div>




        <!--End of Content-->
</section>

</div>
  <%- include('../partials/footer') %>
</div>


  
  <script>
    window.addEventListener('pageshow', function (event) {
      // Check if the flag is set or if the page was loaded from bfcache.
      if (sessionStorage.getItem('reloadPage') === 'true' || event.persisted) {
        // Clear the flag to avoid an infinite reload loop.
        sessionStorage.removeItem('reloadPage');
        // Reload the page.
        window.location.reload();
      }
    });
  </script>

    <script src="/js/theme.js"></script>
     <script src="/js/scripts.js"></script>
  
</body>
</html>
</body>
</html>