<!DOCTYPE html>
<html lang="en" data-theme="auto">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>YesOnIt! Content Development</title>
    <meta name="description" content="YesOnIt - Tool Content Development">
    <meta name="keywords" content="YesOnIt, YesOnIt, YesOnIt, YesOnIt, Tool Content Development, Tool Access Management">
    <meta name="author" content="JosephSabana">
    <meta property="og:image" content="img/cover.png">
    <meta property="og:title" content="YesOnIt">
    <meta property="og:description" content="YesOnIt - Tool Content Development">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined">
    <link href="/css/new-styles.css" rel="stylesheet">
    <link href="/css/theme.css" rel="stylesheet">
  </head>
  <body>
    <div class="main-con">
     <%- include('../partials/header') %>
      <section class="hero-left container">
       

      
 
  <!--Content-->
	
	

	<div class="container-form">
		
		  <h3 class="subsection-heading">Submit New Content Request</strong></h3>
    <h2 class="title">Content Request #<%= autoRequestID %></h2>
    <% if (typeof error !== 'undefined') { %>
        <p style="color:red;"><%= error %></p>
    <% } %>
    <form action="/content" method="POST" enctype="multipart/form-data" class="contentRequestForm">
        <input type="hidden" name="requestID" value="<%= autoRequestID %>">


        <div class="div-content-group ">	
            <label>Requestor:</label>
            <input type="text" name="submittedBy" value="<%= userEmail %>" readonly><br>
            </div>

        <div class="div-content-group ">	
        <label>Request Type:</label>
        <select name="requestType" required>
            <% requestTypes.forEach(function(rt) { %>
                <option value="<%= rt._id %>"><%= rt.type %></option>
            <% }) %>
        </select><br>
        </div>
		<div class="div-content-group hide">				
        <label>Request ID:</label>
        <input type="hidden" name="requestID" value="<%= autoRequestID %>" readonly><br>
	</div>	

		<div class="div-content-group ">			
        <label>Request Title:</label>
        <input type="text" name="requestTitle" required><br>
		</div>		


            <div class="div-content-group ">	
                <label>Assign To:</label>
                <p class="tf-description">Enter the email of the developer responsible for this request. If you are unsure, leave this field blank.</p>
                <input type="email" name="assignTo"><br>
            </div>


            <div class="div-content-group ">	
                <label>Status:</label>
                <select name="status" required>
                  <option value="Outstanding" selected>Outstanding</option>
                  <option value="In Progress">In Progress</option>
                  <option value="Completed">Completed</option>
                  <option value="Closed">Closed</option>
                </select><br>
            </div>




		<div class="div-content-group ">		
        <label>Due Date:</label>
        <input type="date" name="dueDate" required><br>
</div>		
		<div class="div-content-group">	
        <label>Point of Contact:</label>
        <p class="tf-description">Enter the name and/or email of the primary individual for queries regarding this request. If no specific contact is available, leave this field blank.</p>
        <input type="text" name="pointOfContact" required><br>
			</div>		
		<div class="div-content-group ">
        <label>Details:</label>
        <p class="tf-description">Provide a detailed description of the request. Include any relevant information that will assist in processing this request.</p>
        <textarea name="details"></textarea><br>
			</div>		
		<div class="div-content-group ">
        <label>Upload File:</label>
        <input type="file" name="file"><br>
			</div>		
		<div class="div-content-group ">
        <label>Add Approver:</label>
        <p class="tf-description">If approval is required before proceeding, enter the approver's email address. Otherwise, leave this field blank.</p>
        <input type="email" name="updateApproval"><br>
			</div>		
		<div class="div-content-group scdiv" >
					<div class="spacer-10"></div>
                    <button class="btn cancel" onclick="location.href='/content-manager'"><i class="material-icons-outlined">arrow_back_ios</i> Go Back</button>
        <button type="submit" class="btn submit"><i class="material-icons-outlined">save</i>  Submit</button>

        

			</div>		
	
    </form>
    <br>

			</div>
	






  <!--End of Content-->
</section>

<section class="hero-left-noborder">
  <%- include('../partials/footer') %>
  </section>
</div>
    <script src="/js/theme.js"></script>
     <script src="/js/scripts.js"></script>
  
</body>
</html>